@import url("components/container.css");
@import url("components/card.css");
@import url("components/card1.css");
@import url("components/flex.css");

body {
    margin: 0px;
    background-color: #DED7C9;
}

@media (max-width: 1100px) {
	.container {
		width: 800px;
	}
}



@media (max-width: 900px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 700px) {
	.container {
		width: 400px;
	}
}


